@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #fafafa;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('/Inter-SemiBold.ttf') format('truetype');
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
}

.dark body {
  background-color: #1C1745; /* Dark mode color */
  color: #ffffff; /* Dark mode text color */
}

.nav-title {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: bold;
}
